input {
  rabbitmq {
    host => 'rabbitmq'
    subscription_retry_interval_seconds => 5
    vhost => '/'
    user => 'guest'
    password => 'guest'
    enable_metric => true
    metadata_enabled => true
    queue => 'sensu'
    durable => true
    type=> 'sensu'
codec => 'json'
  }
}

filter {
  if [type] == "sensu" {
   	split {
      field => "[check][output]"
      add_tag => "split"
    }
    grok {
      match => ["[check][output]", "%{NOTSPACE:key} %{NUMBER:value:float} %{NUMBER:timestamp}"]
      add_tag => "grok"
    }
    date {
      match => ["timestamp", "UNIX"]
			add_tag => "date"
    }
    csv {
      source => "key"
      separator => "." 
      add_tag => "csv"
    }
  }
}

output {
  elasticsearch {
    hosts => ['elasticsearch']
    index => "logstash-%{+YYYY.MM}"
  }
}
