input {
	file {
		type => 'nginx'
		path => '/var/log/nginx/*.log'
	}
}

filter {
	grok {
		match => {"message" => "%{IP:client_ip} %{USER:ident} %{USER:auth} \[%{HTTPDATE:apache_timestamp}\] \"%{WORD:method} /%{NOTSPACE:request_page} HTTP/%{NUMBER:http_version}\" %{NUMBER:server_response}"}
	}
}

output {
	redis { 
		host => 'localhost' 
		password => '123'
		db => 1
		data_type => 'channel' 
		port => '6379'
		key => 'logstash:redis' 
	} 
}
